<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRyao0Tn-EkEa57RWv4jHYAuXokKNX_L8</string>
	<key>GCM_SENDER_ID</key>
	<string>494285294062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChatProxy</string>
	<key>PROJECT_ID</key>
	<string>chat-app-proxy</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-proxy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494285294062:ios:ab1db9c2198f720707a6ff</string>
</dict>
</plist>